<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>


<table>
  <thead>
    <tr>
      <th> Blog Title </th>
      <th>  Body </th>
      <th colspan='4'></th>
    </tr>
  </thead>
       
<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", blog %>
      <%= link_to  blog.status, toggle_status_blog_path(blog) %>
    </p>
  <% end %>
</div>
</table>

<%= link_to "New blog", new_blog_path %>
